.body {
	background-color: #E6E6E6;
}

#fon {
	background-color: white;
}

#h2noti {
	color: #8A0808;
	font-size: 25px;
}

#h22{
	color: #8A0829;
}

#h3 {
	color: #0B3861;
	font-size: 30px;
}

#h4 {
	color: #0B3861;
}

#h5 {
	color: #8A0808;
}
